.container h2 {
    display: flex;
    text-align: center;
}


  /* About Section */

.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333; /* Adjust color as needed */
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666; /* Adjust color as needed */
    margin-bottom: 20px;
  }
  