.container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.featured-content-container{
  border: 1px solid black;
  padding: 15px;
  margin: 50px auto;
  border-radius: 3%;

}

.Featured-Home-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  border-radius: 3%;

}

/* about component styles */

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    border: 1px solid black;
    border-radius: 3%;
  }
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
  }
  
  .description {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666; /* Adjust color as needed */
    margin-bottom: 20px;
  }
  

  /* Contact component styles */
#Contact-Us {
  margin: 50px auto;
  padding: 40px 20px;
  border: 1px solid black;
  border-radius: 3%;

}

#Contact-Us h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#Contact-Us .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.contact-info h3 {
  font-size: 1.5rem;
  color: rgb(15, 109, 15);
  font-style: italic;
  text-align: start;
  margin-bottom: 20px;
}

.contact-info address {
  text-align: start;
  font-style: italic;
}

.contact-form {
  flex: 1;
  padding: 20px;
}

.contact-form form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact-form form .form-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.contact-form form label {
  font-weight: bold;
  font-style: italic;
  width: 30%;
  text-align: start;
  color: black;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.contact-form form textarea {
  height: 150px;
}

.contact-form form button {
  width: 50%;
  font-weight: bold;
  font-style: italic;
  background-color: rgb(131, 7, 7);
  color: #fff;
  padding: 10px;
  border: 1px solid rgb(131, 7, 7);
  border-radius: 5px;
  cursor: pointer;
}

.contact-form form button:hover {
  background-color: white; 
  color: rgb(131, 7, 7);
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }
}


/* featuredContent component styles */
.featured-content-container .featured-title {
  font-size: 1.5rem;
  color: rgb(15, 109, 15);
  font-style: italic;
}

.featured-content-container .featured-item {
  width: 300px;
  height: 300px;
  position: relative;
}

.featured-content-container .featured-item img {
  width: 50%;
  height: 150px;
}

.featured-content-container .featured-item .featured-details button {
  text-decoration: none;
  background-color: rgb(131, 7, 7);
  font-weight: bold;
  border:1px solid rgb(131, 7, 7);
  color: #ffffff;
  padding:5px 10px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.featured-content-container .featured-item .featured-details button:hover {
  background-color: white; 
  color: rgb(131, 7, 7);
}