.container {
  margin-top: 20px;
  padding: 5px;
}

.container h2 {
  color: rgb(131, 7, 7);
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.container h2 span {
  color: rgb(15, 109, 15);
}

.cards-container {
  margin-top: 20px;
  max-width: 1200px;
  padding: 5px;
}

.btn {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.btn-title {
  text-align: left;
  width: 60%;
}

.btn-img {
  width: 5%;
}

.btn.btn-success {
  width: 30%;
}

.btn.btn-success:hover {
  background-color: white;
  color: rgb(15, 109, 15);
  border:1px solid rgb(15, 109, 15)  ;
}


/* Example of a media query for smaller screens */
@media screen and (max-width: 768px) {
  /* CSS rules for smaller screens */
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 6% ;
  }
}
