.container {
    font-style: italic;
}

/* teampagenav styling */

nav {
    border: 1px solid black;
    border-left: none;
    border-right: none;
}

/* teamdetails styling */

h3 {
    color: green;
}

.team-data {
    margin: 20px;
}

.team-data h3 {
    margin: 20px;
    text-decoration: underline;
}

strong {
    /* color: rgb(15, 109, 15); */
    color: rgb(131, 7, 7);
}



.detail-box {
    display: flex;
    align-items: center;
}

.team-logo {
    width: 35%;
}

.team-logo img {
    width: 50%;
}

.team-info {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 50px;
    row-gap: 20px;
}

.info-div {
    text-align: start;
}

/*  TeamAchievements styling  */

.Team-Achievements-div {
    padding: 10px;
}


.Team-Achievements-div h3{
    margin: 20px;
    text-decoration: underline;
}

.Team-Achievements{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.Team-Achievements ul {
    list-style-type:decimal;
    width: 70%;
}

.Team-Achievements ul li{
text-align: start;
}

.achievements-img {
    width: 30%;
}

.achievements-img img {
    width: 60%;
}

/*  Team Stats component styling */

.Team-Stats-div {
    padding: 10px;
}

.Team-Stats-div h3{
    margin: 20px;
    text-decoration: underline;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #000000;
    font-weight: bold;
    color: white;
  }
  
  .custom-table tbody tr:hover {
    background-color: #e9e9e9;
  }
  


  /*  errorpage styling */

.img {
    margin: 10px;
    padding: 10px;
}

.img img {
    width: 20%;
}

.error-back-page  {
    margin:10px;

}
.error-back-page a{
    text-decoration:none;
    color:#000000;
    font-size:15px;
    text-align: center;
}

.error-back-page a:hover {
    color: #000683;
}
.bi:hover {
    color: #000683;

}